---
import '@/globals.css'
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <title>Astro</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<script is:inline>
  function getThemePreference() {
    if (typeof localStorage !== 'undefined') {
      const storedTheme = localStorage.getItem('theme')
      try {
        if (
          ['dark', 'theme-light', 'system'].includes(JSON.parse(storedTheme))
        ) {
          return JSON.parse(storedTheme)
        }
      } catch (e) {
        if (['dark', 'theme-light', 'system'].includes(storedTheme)) {
          return storedTheme
        }
      }
    }
    return window.matchMedia('(prefers-color-scheme: dark)').matches
      ? 'dark'
      : 'theme-light'
  }

  function resolveTheme(theme) {
    if (theme === 'system') {
      return window.matchMedia('(prefers-color-scheme: dark)').matches
        ? 'dark'
        : 'theme-light'
    }
    return theme
  }

  // Initial theme setup
  const theme = getThemePreference()
  const resolvedTheme = resolveTheme(theme)

  document.documentElement.classList[
    resolvedTheme === 'dark' ? 'add' : 'remove'
  ]('dark')

  // Watch for system theme changes
  window
    .matchMedia('(prefers-color-scheme: dark)')
    .addEventListener('change', (e) => {
      const storedTheme = localStorage.getItem('theme')
      if (storedTheme === 'system') {
        document.documentElement.classList[e.matches ? 'add' : 'remove']('dark')
      }
    })
</script>
